(: if priority < 0 || priority > 1 :)
    (: do throw "Invalid Priority: Please use a value between 0 and 1" :)
(:end:)
(: if Sys.getEnv('hostname') == null || Sys.getEnv('hostname') == '' :)
    (: do throw "No hostname env var detected! Please set it before running this program" :)
(:end:)

<url>
    <loc>(:Sys.getEnv('hostname'):)(:relPath:)</loc>
    <priority>(:priority:)</priority>
</url>