*.aux
*.fdb_latexmk
*.fls
*.html
*.log
*.out
*.pdf
*/.haxelib/
*/node_modules/
.generated/
generator/*.tgz
generator/bin/*
generator/dump/
generator/node_modules
generator/.vscode
server/cover/bin/
server/cover/ready/html/
!generator/bin/manu

