*.aux
*.fdb_latexmk
*.fls
*.html
*.log
*.out
*.pdf
*.tex
bin/
dump/

*.JPEG
*.JPG
*.PNG
*.jpeg
*.jpg
*.png

!guide/*.tex
!guide/*.css

!generator/docs/spec.tex
!generator/docs/design/web/mockup/*.html

