*.aux
*.fdb_latexmk
*.fls
*.html
*.log
*.out
*.pdf
*.tex
generator/bin/
generator/dump/

*.png
*.PNG
*.jpeg
*.JPEG
*.jpg
*.JPG

!guide/*.tex
!guide/*.css

!generator/docs/spec.tex
!generator/docs/design/web/mockup/*
!guide/*/*/assets/*

guide/*.html/

