body {
    width : 600px;
    margin: 0 auto;
    line-height: 20px;
    font-size: 15px;
    font-family: "sans-serif";
}

img {
    width : 600px;
    margin: 0 auto;
}

h1 {
    font-size: 160%;
}

h2 {
    font-size: 140%;
}

h3 {
    font-size: 120%;
}

h4, h5, h6 {
    font-size: 100%;
}
