html {
	font-family: 'PT Serif', serif;
	color: #333;
}
.quad {
	display: inline-block;
	width: .75em;
}
.disabled {
	display: none;
}

/* references */

.url {
	white-space: -moz-pre-wrap !important;
	white-space: -webkit-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-all;
	white-space: normal;
}

/* headings */

h1, h2, h3 {
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	color: #666;
	max-width: 640px;
}
h1 { font-size: 32px; margin: 32px 0 16px; }
h2 { font-size: 20px; margin: 32px 0 16px; }
h3 { font-size: 16px; margin: 16px 0; }
.brtcolor {
	color: #00a95e;
}
p {
	font-family: 'PT Serif', serif;
	color: #333;
}
a {
	color: #999;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
    color: #00a95e;
}
img {
	border-radius: 2px;
}
.container {
	margin: 0 auto;
	padding: 0;
}

/* sm md lg */

.sm {
	width: 256px;
	clear: right;
	float: right;
	font-size: 12px;
	font-family: 'PT Sans', sans-serif;
}
.md {
	width: 640px;
}
.lg {
	width: 928px;
}

/* header */

header {
	font-family: 'PT Sans', sans-serif;
	width: 100%;
	height: 32px;
	position: fixed;
	background-color: #FFF;
	color: #333;
	z-index: 999;
	border-bottom: 1px solid #00a95e;
}
header a {
	color: #333;
}
header ul {
	line-height: 32px;
	font-weight: bold;
	width: 1216px;
	margin: 0 auto;
	padding: 0 0 0 0 ;
	font-size: 14px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAAAgCAYAAACxSj5wAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAABAxJREFUeNrsWd11okAUJjm+h+1gtoKwFQQqUB59ClaQpQJjBZoKwCcfIRVEKwhWEFPBWsLeYb7B6zCgMavJcb3nXBWYOwMf3/0bHeciF7nIEeVq54hZKOizR3pH6hpXp6Rrp5/l/x9As9CjzzGp32KfA7w16RPphMBanxNA1xZgXNIER26L7RzfE9IR6QPpK9n65wuQYs0LaQRmBGCHTaYYsyTWSJB+ArQXmic6P4AkcxwnI/Vw5h4AxBaQJBC3+L0qP6Vr9bMB/ZKanAtIHfZbgiPYsQAwCR46Y9ee4FJ16WcpwJYgFXRcGCwds5cgr8fGuV2yy0be84I0rcXD9nWK0s5IOB0YRg3B+A4MGYJJY7DHw4RN8WbFwP1lXPMsdt6OZGDOvcumV97zLIzLF7bfOvL8b7KRzxdqcLWLDVsWmmLiLoLxM9izZMhLkHtlcJ+Ff8A2t7T796623HOcZnHvg/P73Fuu8QCiYbBgb0wa3oAZLotLQwMUPT4uaa5i2S6JkRC0ckmNa6k1o/YzWbL8wFxcEri83UbZmcnIR8IqXWwFZjgAwDMA6oIl8vw7QCjgbpq2MWoi7eMDxCIPqd9trY/qcYofvdP1+V7vXq0xASBDxqQI5UiT3ZxsRuyZNCGKa0y0wgQa6QV0CkoHSOM5Y4hAFR3gfFKVBtrvNw/uOacVs7Lv7hX86y5aMsiHDsGkJWKMMDKDDrouxonytyoqPRwHNTaooO6zwvL4Iu9hm4ViD6uurRDuGJMkrG1YAyjtUr2KYf3skW5ghfERe2vfqc1YMWCENYhvqv5umcG2CVGYAHFqDTEoBpJRC33ncEUZjN9o0bRkWD9bfSOAbKK7Bps8mWm+rd54AVhpVYQp5HVAey5jjopFAW7qDSnf+0KA3APtRqWHsELRhnSKWJQY/hlaUB8TEPeGe2nWRdWipxevJQBrAkyN47nJ/A6MhQHOmjEkZxM9bCGtJk0Qs/gcN+wteg03eDypM9cOEGNKWy/2jADsoOe6q2qZTbuhz2lXi9AT5XQzKuPZFlMZbv0Fe0Rjy87Dgc2qKugewILcWMQ1XGSBAF6gQtU0lfaPlp3IiAF9TBG03iPbhRBGxXxwiaGDdIDti1eWum1B7paNzxGPCtygZ3mLhdEsHg8g9eKGBjgF4uYn94OUC3g70qILV9QpMEYMGuP7nrHnN8YOnK+TFIXrp9yb10EhGCQaIr6OQZMK1FkYgEWi2lxTze8Y/VjR0Ji6rCCzSWApN9rmse0ZrQ9ce0uuLNE/sfROGohRLRhvtmld1lYMTuRaJ9xy3TSXgaVa9rfYU2dXzmJBcC7g1Bm0zQzdwOpG00VJUFSNqkr/vnPGf/t89o/DRVUPXeQiF7nIx+WvAAMAhoF6/UERhegAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
	background-position: top left;
}
header ul li {
	display: inline;
	margin: 0;
	list-style: none;
	padding: 0 8px 0 0;
}
header ul li:first-child {
	padding: 0 8px 0 120px;
}
header ul li.jump-to-nav {
	display: none;
}
header ul li ul {
	line-height: 16px;
	margin: 0 auto;
	padding: 0;
	font-size: 12px;
}
header noscript .js-required-banner {
	background-color: #F33;
	color: #FFF;
	text-align: center;
	padding: 4px;
	font-family: sans-serif;
	font-size: 12px;
}
.item {
	display: none;
	position: fixed;
	background-color: #FFF;
	width: auto;
	padding: 0 16px 16px 16px;
	border: solid #00a95e;
	border-width: 0px 1px 1px 1px;
}
.hide {
	display: none;
}
.item li {
	display: block;
	padding: 0;
}
.item a {
	color:#333;
}
:target:before {
	content:"";
	display:block;
	height:48px; /* fixed header height*/
	margin:-48px 0 0; /* negative fixed header height */
}

/* volume */

.volume1 {
	color: #c32063;
	font-weight: bold;
}
.volume2 {
	color: #532a64;
	font-weight: bold;
}
.volume3 {
	color: #12507f;
	font-weight: bold;
}
.volume4 {
	color: #1e7ba6;
	font-weight: bold;
}
.volume5 {
	color: #6b9531;
	font-weight: bold;
}
.volume6 {
	color: #b36c14;
	font-weight: bold;
}
.volume7 {
	color: #a8151b;
	font-weight: bold;
}
.volume8 {
	color: #333;
	font-weight: bold;
}

/* volume heading */

.volumehead {
	width: 640px;
	height: 140px;
	margin: 14px 0;
	border-radius: 2px;
	background-size: cover;
	background-position: center;
	margin-top: 32px;
}
.volumehead h1 {
	display: inline-block;
	margin-top: 70px;
	opacity: 0.9;
	border-radius: 0 2px 2px 0;
	line-height: 21px;
	padding: 7px 14px;
	color: #FFF;
}

.volumehead.v1 {background-image: url(https://brtguide.itdp.org//img/brt_img_volume1.jpg);}
.volumehead.v2 {background-image: url(https://brtguide.itdp.org//img/brt_img_volume2.jpg);}
.volumehead.v3 {background-image: url(https://brtguide.itdp.org//img/brt_img_volume3.jpg);}
.volumehead.v4 {background-image: url(https://brtguide.itdp.org//img/brt_img_volume4.jpg);}
.volumehead.v5 {background-image: url(https://brtguide.itdp.org//img/brt_img_volume5.jpg);}
.volumehead.v6 {background-image: url(https://brtguide.itdp.org//img/brt_img_volume6.jpg);}
.volumehead.v7 {background-image: url(https://brtguide.itdp.org//img/brt_img_volume7.jpg);}
.volumehead.v8 {background-image: url(https://brtguide.itdp.org//img/brt_img_volume8.jpg);}

.volumehead.v1 h1 {background-color: #c32063;}
.volumehead.v2 h1 {background-color: #532a64;}
.volumehead.v3 h1 {background-color: #12507f;}
.volumehead.v4 h1 {background-color: #1e7ba6;}
.volumehead.v5 h1 {background-color: #6b9531;}
.volumehead.v6 h1 {background-color: #b36c14;}
.volumehead.v7 h1 {background-color: #a8151b;}
.volumehead.v8 h1 {background-color: #333;}

/* footer */

footer {
	font-family: 'PT Sans', sans-serif;
	width: 100%;
	height: 32px;
	position: fixed;
	background-color: #00a95e;
	z-index: 999;
	bottom: 0px;
}

/* nav */

nav {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 18px;
	float: left;
	padding: 37px 0 16px;
	top: 33px;
	bottom: 96px;
	width: 256px;
	position: fixed;
	overflow: auto;
}
/* nav ul { */
/* 	display: block; */
/* } */
nav ul, nav li, #toc-loading {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 14px;
	color: #999;
}
nav a {
	color: #333;
}
nav ul ul ul a {
	color: #666;
	font-size: 13px;
}
nav ul ul ul ul a {
	color: #999;
	font-size: 12px;
}
nav ul ul
{
	padding-left: 16px;
}
nav ul hr {
	border: 0;
	height: 1px;
	background: #EEE;
}
.active>a {
  text-decoration: underline;
  text-decoration-color: #999;
  text-decoration-skip: ink;
  color: #333;
}
nav .index a {
    font-weight: bold;
    color: #00a95e;
}
.close {
	display: none;
}

/* navigation */

.navigation {
  width: 640px;
  margin: 32px 0;
	padding-bottom: 32px;
}
.navigation div {
  font-family: 'PT Sans', sans-serif;
  font-size: 12px;
}
.navigation div a span {
  max-width: 260px;
  display: inline-flex;
}
.navigation div.prev {
  float: left;
  text-align: left;
}
.navigation div.prev:before {
  content: "\25c4\0020";
  color: #CCC;
}
.navigation div.next {
  float: right;
  text-align: right;
}
.navigation div.next:after {
  content: "\0020\25ba";
  color: #CCC;
}

/* col-text */

.col-text {
	margin-left: 288px;
	float: left;
	width: 928px;
	margin-top: 33px;
	padding-bottom: 96px;
}
.col-text p {
	margin-right: 288px;
	text-align: justify;
}
.col-text li p {
	margin: 0;
}

/* full and compact tables of content */

div#toc { font-family: 'PT Sans', sans-serif; }
div#toc a:hover { color: #00a95e!important; }
div#toc li { list-style: none; }
div#toc ul { padding: 0; }
div#toc li.nav { display:none; }
div#toc .chapter a { color: #333; }
div#toc .section a { color: #666; }
div#toc .section  ul a { color: #999; }

div.tocfull li { margin: 4px 0; }
div.tocfull ul { margin-left: 32px; }
div.tocfull .volume  { margin: 32px 0; font-size: 16px; }
div.tocfull .chapter { margin: 16px 0; font-size: 15px; }
div.tocfull .section { margin:  8px 0; font-size: 14px; }
div.tocfull .section  ul { font-size: 13px; }

div.toccompact { border-radius: 2px; margin: 32px 0; border: 1px solid #CCC; margin-right: 288px; }
div.toccompact li { margin: 3px 0; }
div.toccompact ul { margin-left: 16px; }
div.toccompact .volume  { font-size: 14px; }
div.toccompact .chapter { margin: 12px 0; font-size: 13px; }
div.toccompact .section { margin:  6px 0; font-size: 12px; }
div.toccompact .section  ul { font-size: 11px; }

div.toccompact .volume>a::after  { content: " contains:"; }
div.toccompact .chapter>a::after { content: " contains:"; }
div.toccompact .volume .chapter>a::after { content: ""; }

div#toc li.chapter li li li { display: none; }

/* img-block */

.img-block {
	margin: 16px 0;
}
.img-block img {
	display: block;
	width: 100%;
	height: auto;
	cursor: pointer;
	cursor: zoom-in;
}
.img-block figcaption {
	width: 100%;
	margin: 8px 0px 16px;
	font-size: 12px;
	font-family: 'PT Sans', sans-serif;
	color: #666;
	text-align: left;
}
.img-block figcaption.quad:before {
	content:".";
}
.img-block.sm {
	margin: -32px 0 32px 0;
	padding-top: 32px;
}

/* table */

table {
	width: 100%;
	font-family: 'PT Sans', sans-serif;
	font-size: 12px;
	border-spacing: 0;
	border-collapse: collapse;
	overflow: scroll;
	margin: 16px auto;
}
th {
	padding: 8px;
	vertical-align: top;
	text-align: left;
	border-bottom: 2px solid #999;
}
td {
	padding: 8px;
	vertical-align: top;
	border-top: 1px solid #999;
}
td ul, th ul, td ol, th ol {
	padding-start: 16px;
	-webkit-padding-start: 16px;
	margin: 0;
}

/* img table heading .sm */

figure.sm h3 {
	font-size: 12px;
	margin: 0 0 8px;
}
figure.sm h3 span {
	font-weight: initial;
}

/* equation */

.equation {
	cursor: pointer;
	cursor: zoom-in;
}

/* quotes */

blockquote {
	font-family: 'PT Serif', serif;
	margin: 0;
	background-color: #EEE;
	border-radius: 2px;
}
blockquote .by {
	display: block;
	text-align: right;
	margin-top: 8px;
}
blockquote .by::before {
	content: "\2015\0020";
}
blockquote.md {
	width: 608px;
	padding: 16px;
	margin: 32px 0;
}
q {
	font-style: italic;
}
q::before {
    content: "\201C";
}
q::after {
    content: "\201D";
}

/* boxes */

.box {
	outline: 2px solid #CCC;
	outline-offset: 15px;
	margin: 32px 0;
	color: #666;
	overflow: auto;
}
.box > p {
	color: #666;
	margin-right: 0px;
	width: 640px;
}
.box > h3 {
	font-size: 16px;
	color: #666;
	margin-top: 0;
}
.box > h1.quad:before {
	content:"";
}
.box .sm {
	margin-left: 32px;
}
@media (min-width: 1240px) {
	.container {
		width: 1216px;
	}
}

/* lists */

section > ul, section > ol {
	padding-left: 32px;
	width: 608px;
	font-family: 'PT Serif', serif;
	text-align: justify;
}
section ol ol, section ol ul, section ul ol, section ul ul {
	padding-left: 16px;
  text-align: justify;
}
section ul {
	list-style: disc;
}

/* code */

code {
	font-size: .8em;
}
pre {
	display: inline-block;
}
:not(pre)>code, pre {
	background: #f9f9f9;
	margin: 0 .1em;
	padding: .05em .25em;
	border: 1px solid #ccc;
}

/* selection */

::selection {
	background: #00a95e;
	color: #FFF;
}
::-moz-selection {
	background: #00a95e;
	color: #FFF;
}

/* overlay */

.overlay {
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	cursor: pointer;
	cursor: zoom-out;
	animation: fadein 0.5s;
	-moz-animation: fadein 0.5s; /* Firefox */
	-webkit-animation: fadein 0.5s; /* Safari and Chrome */
	-o-animation: fadein 0.5s; /* Opera */
}
.overlay div {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	background-color: #FFF;
	border: 16px #FFF solid;
	height: 80%;
	width: 80%;
	margin: auto;
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: tranlslateY(-50%);
	transform: translateY(-50%);
}
.blur {
	filter: blur(3px) grayscale(.5);
}

@keyframes fadein { from { opacity:0; } to { opacity:1; } }

/* scrollbar */

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-button {
	width: 0;
	height: 0;
}
::-webkit-scrollbar-thumb {
	background: #CCC;
	border: 0px;
	border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
	background: #00a95e;
}
::-webkit-scrollbar-thumb:active {
	background: #00a95e;
}
::-webkit-scrollbar-track {
	background: #fff;
	border: 0px;
}
::-webkit-scrollbar-corner {
	background: transparent;
}

/* menu */

#toc-menu {
	display: none;
}

/* share */

.share:hover {
    color: #999;
    cursor: pointer;
}
h1.share:hover:after {
	content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWNJREFUeNqslMFxgzAQRWWGO3SQdGCnglBCOjC5cLY7oIPkCpfIHaQEOojpwO5AroDszvxlNoqE0Yx3ZsfI+jyk/SttpmkyKdH3/Y5+LOUWf90o26ZpPkWzSYECOFAWgekTgWt+yB4E5NiTxq5eaQDIW+ZVOfzulfyYr1xohTq+UZY8pq2eMTfQR40Ct/mdFZYKdAHcEPDiSa2CFnliDVvKAyA6Sj3IEk3h8RfN14EWkxj/GRUxhev3TPmkpC9SU09bZSuAbArXkudG6ckYkA2cVxoDivMkdjCOa/odA859ugA8wNURL7mF3ZznY9p1XQzI8aOqc0Vb7ZaA4r4NiSB8V1o26fUeUKBbNa61iJ4twDfvvSiQw29+F9AM2LKcLCfGxQ5Ojq/KlmpA/I5wKJPT9+YSlI/eh7q+5CyXqt4FOqFac/tIS1nv+jIpNQwZZXBjnx4B/HOhAHz0nB5TgRy/AgwAY9q3mau7WLoAAAAASUVORK5CYII=');
	top: 2px;
	left: 5px;
	position: relative;
}
h2.share:hover:after {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAARRJREFUeNqEUsERgjAQ1DSgHWgH0oGUoBUIH952IHTgFz5qB5SAHWAH2oFUgLvOxomRyM3sJLnL3u1dMu37fjJmVVUlWI7ATK4iy7Kcm+lYApFPA6ELkiR/E3jkG1ADG2BllZgR9ZGIRCzZsc60gwlU3gCNErSsCvKTMa21vfvTQqDnTgpaxOfYN2qj+0rgkR/AHVg758gh01LzZ2ARKrLfVAoSn4z42QTIe1ann5dU+eiT3zMoy9InxxrcQr4rsHTOHzLNKPPEeaqn3rqTfx0i2wT2e9bOU7WSfZECYuuTbQu9r8B5KloD3z7006ig0J4DakDOnWmvNI+gvf8BSJS2G4inQ7J9Bew5cZTYnzdKpr0EGAB+OYx0Y1nJtAAAAABJRU5ErkJggg==');
  top: 2px;
  left: 5px;
  position: relative;
}
h3.share:hover:after {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANZJREFUeNqEksENwjAMRZuIOyswQjegGzRsAJdegQ1gBI7JhTIBZQOYoB2BFTpB+L9KkQkNWHqyaus78U+V9z5LhXPOIOWi1FRV1amUCII10jkq96DQCUEuBBtMV8gXMAcm40kprLV59O3BYfbnSj1qBfcIvSHeO0WCE1iAEjxALXorPSHYgyem07kjHYv2axTuyOZ1LAIOWIIbxWArBDwx0+IdxuIuWFtOCYagG3Tll2sxWjhXi/1aZB/e6yu4Exv38HAyPq8kRTwuTDSi3tGl1D/5EmAAH4OgzFlKeJMAAAAASUVORK5CYII=');
  top: 1px;
  left: 5px;
  position: relative;
}
figcaption.share:hover:after, .sm h3.share:hover:after {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJBJREFUeNpi+f//PwMymDVrlgCQWgDEIPoDECcwYVFwAIgdkOgFTGgKDIB4AhAHpKWlNUDZAowg65BMUIBaAeInQK09wCwlJYWsYANUUgOIC4D4AchUFqhqBSSdDlCTQAocgNZ+YIIKTAByQKYEAHEDlAYrALmXBeqGAqC7GJCsgCsAASaoNSjeRlYAAgABBgB8JzP7jDc9KwAAAABJRU5ErkJggg==');
	top: 0;
	left: 5px;
	position: relative;
}

/* search */

div.search {
  width: 256px;
  position: fixed;
  bottom: 32px;
}
div.search input {
  width: 238px;
  border-radius: 2px;
  padding: 6px 8px;
  border: 1px solid #CCC;
  color: #333;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAX9JREFUeNrsV+1twjAQhYr/ZQPYIJUyQNMJYiZIRoAJYIR0AmADs0EYIFLYADYIE6Rn6UU6WTGx46RRpZ70hG2se75vmNd1PZtC3mYTyWTEC/2gKAr9KCVsCYF2fiFIwsmGKAxDa4s/CCXh2EKqJMZ3OWHpbTEjVQrfsb/BshL7CJ5YET5xV51VvjE+MdIdHpKBQOFAWBPOuBPYuvwVccpcuwOhSVJGHsPq3sRbfD46SPn9J3tIb+LG2sxSR8XcHA1Rx6VDyJqkWv3pzhU56FmzsutNfHFMFNU8BNa5D7Fk8bKpTV7zmQ+xUnTFOsF+abBUon6b8rv7tkwBtwUgFyC5s5gKZqn/dGLlEcHaGARJh64mNKlvVlew6gttkWesWn8DD3auHlezPDHKXP/p0zKPbbI6bxmdZ269yzx26VptFiaYYqN2LlM2700xH4qYl6AuR8zz0Xq1eNEyszGJK7j1aROKoadTaRgu8jfGoiLfYNhcsZaddfz/F2Ys+RFgAN7cWfX8DzTBAAAAAElFTkSuQmCC');
  background-position-x: right;
  background-repeat: no-repeat;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
}

/* github */

.github {
	margin: 8px 0;
	font-size: 10px;
	font-family: Verdana, sans-serif;
	line-height: 14px;
	color: #999;
	border-left: 2px #CCC solid;
	padding-left: 8px;
}
.github a {
	color: #999;
}
.github a:hover {
	color: #333;
}

/* responsive */

@media screen and (max-width: 1239px) {
	body {
		margin: 20px;
	}
	.col-text {
		width: 100%;
		margin: 0px;
		padding: 0;
	}
	.col-text p {
		margin-right: 0px;
	}
	div.toccompact {
		margin-right: 0;
	}
	.sm, .md, .lg {
		width: 100%;
	}
	section > ul,ol {
		width: auto;
	}
	blockquote {
		background-color: #FFF;
	}
	blockquote.md {
		width: 100%;
		padding: 0px;
	}
	blockquote.lg {
		width: 100%;
	}

	/* header */

	header {
		padding-bottom: 32px;
		position: relative;
		height: auto;
	}
	header ul {
		width: auto;
	}
	header ul li {
    display: block;
	}
	header ul li.slash {
		display: none;
	}
	header ul li:first-child {
		padding: 38px 8px 0 0;
	}
	header ul li.jump-to-nav {
		display: block;
		position: absolute;
		top: 0px;
		right: 0;
		font-size: 25px;
		padding: 0;
	}

	/* nav */

	nav {
		padding: 32px 0 0 0;
		top: 0;
		width: 100%;
		position: relative;
		display: none;
	}
	nav:target {
		display: block;
	}
	.close {
		display: block;
    position: absolute;
    right: 0;
    top: 32px;
    padding: 16px;
    font-size: 20px;
	}
	.tocfull .close {
		display: none;
	}
	nav > ul {
		padding: 8px 0 16px 0;
		border-radius: 2px;
		border-color: #EEE;
		border-style: solid;
		border-width: 1px;
	}
	nav li {
		padding: 8px 0 0 16px;
	}
	nav ul ul {
		padding: 0;
	}


	/* boxes */

	.box {
		outline: 2px solid #CCC;
		outline-offset: 8px;
		margin: 32px 0;
		color: #666;
		overflow: auto;
	}
	.box > p {
		width: auto;
	}
	.box > h3 {
		font-size: 16px;
		color: #666;
		margin-top: 0;
	}
	.box > h3.quad:before {
		content:"";
	}
	.box .sm {
		margin-left: 32px;
	}

	/* tables */

	table {
		font-size: 10px;
		display: block;
	}

	/* menu */

	#toc-loading {
		display: block;
		font-family: 'PT Sans', sans-serif;
		height: 16px;
		padding: 8px;
		color: #666;
		line-height: 24px;
		font-size: 16px;
	}
	#toc-menu {
		display: none;
	}

	/* volume heading */

	.volumehead {
		width: auto;
	}

	/* overlay */

	.overlay div {
		border: 8px #FFF solid;
		height: 100%;
		width: auto;
	}

	/* navigation */

	.navigation {
		width: auto;
	}
	.navigation div {
			font-size: 16px;
	}
	.navigation div a span {
		display: none;
	}

	/* search */

	div.search {
		display: none;
	}

}

/* print */
@media print {
	header, nav, #toc, .navigation { display: none !important; }
	.tocfull { display: block; }
	.col-text {
		margin: 0 auto;
		float: left;
		width: 928px;
		padding-bottom: 0;
	}
	figure {
		page-break-inside: avoid;
	}
}
